
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501723529679'); /* IE9*/
  src: url('iconfont.eot?t=1501723529679#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501723529679') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501723529679') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501723529679#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before { content: "\e601"; }

.icon-information:before { content: "\e602"; }

.icon-monitor:before { content: "\e603"; }

.icon-strategy:before { content: "\e604"; }

.icon-begin:before { content: "\e605"; }

.icon-delet:before { content: "\e606"; }

.icon-edit1:before { content: "\e607"; }

.icon-curve:before { content: "\e608"; }

.icon-data:before { content: "\e609"; }

.icon-add:before { content: "\e60a"; }

.icon-edit_:before { content: "\e60b"; }

.icon-delet_:before { content: "\e60c"; }
